.custom-div-icon .leaflet-marker-icon {
  /* background-color: transparent !important; */
  /* or alternatively, use display: none; */
  display: none !important;
}

.custom-text {
  position: relative;
  display: inline-block;
  padding: 0px 5px;
}

.custom-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1px;
  z-index: -1;
}